# Bỏ qua thư mục môi trường ảo
venv/

# Bỏ qua file .env (file chứa biến môi trường)
.env

# Bỏ qua file log
*.log

# Bỏ qua các file cache của Python
__pycache__/
*.py[cod]

# Bỏ qua file của hệ điều hành (Windows, macOS)
.DS_Store
Thumbs.db
